<!-- <div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div> -->

<div class="page__footer-copyright">
  <table style="border:none;" width="100%">
    <tr>
      <td style="border:none;" width="65%">
        <br>
        &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
      </td>
      <td style="border:none;" align="left">
            <font size="6">
              <a href="https://www.facebook.com/Tokyo-Tech-Academy-for-Super-Smart-Society-100152231685429/" target="_blank">
                <i class="fab fa-fw fa-facebook-square">
                </i>
              </a>

             <a href="https://twitter.com/tokyotech_sss/" target="_blank">
                <i class="fab fa-fw fa-twitter-square">
                </i>
             </a>
             <a href="https://www.titech.ac.jp/"><img src="/assets/images/logo_titech.png" width="40%" height="40%" />
                  </a>
                  </td>
                  </tr>
                  <tr>
                    <td style="border:none;" align="left">
                  <a href="https://www.tac-mi.titech.ac.jp/" target="_blank"><img src="/assets/images/t_banner_C1.png" width="60%" height="60%" />
                       </a>

                       <a href="https://www.infosyenergy.titech.ac.jp/Academy/" target="_blank"><img src="/assets/images/logo_academy_white.png" width="50%" height="50%" />
                            </a>
                  </td>
                  </tr>
                  </table>
</div>
